html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    link( rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel='stylesheet', href='css/leaflet.css')
    script(src='javascripts/leaflet.js')
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/index.js")
    title!= title
  body
    h1!= message 
    #map
